# Build artifacts
target/
build/
dist/
wheels/
*.egg-info

# Python
__pycache__/
*.py[oc]
.venv/

# Local credentials & secrets
.max_creds
.max_credits

# Proprietary client binaries and installers
*.exe
*.msi
*core.dll
*config.dll

# Disassembler databases
*.id*
*.nam
*.til
*.bndb
*.i64

# Local scratchpad & notes
.scratch/*
